In [ ]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
# Load data

epa_data = pd.read_csv(r"C:\Users\BIT\Desktop\Education 1\Projects\cousera\Google Advance Data analysis\The power of statistics_sampling\c4_epa_air_quality.csv", index_col = 0)
epa_data.head(5)

,date_local,state_name,county_name,city_name,local_site_name,parameter_name,units_of_measure,arithmetic_mean,aqi
0,2018-01-01,Arizona,Maricopa,Buckeye,BUCKEYE,Carbon monoxide,Parts per million,0.473684,7
1,2018-01-01,Ohio,Belmont,Shadyside,Shadyside,Carbon monoxide,Parts per million,0.263158,5
2,2018-01-01,Wyoming,Teton,Not in a city,Yellowstone National Park - Old Faithful Snow ...,Carbon monoxide,Parts per million,0.111111,2
3,2018-01-01,Pennsylvania,Philadelphia,Philadelphia,North East Waste (NEW),Carbon monoxide,Parts per million,0.300000,3
4,2018-01-01,Iowa,Polk,Des Moines,CARPENTER,Carbon monoxide,Parts per million,0.215789,3

In [3]:
# Hypothesis 1: ROA is considering a metropolitan-focused approach. Within California, they want to know if the mean AQI in Los Angeles County is statistically different from the rest of California.

ca_la = epa_data[epa_data['county_name']=='Los Angeles']
ca_other = epa_data[(epa_data['state_name']=='California') & (epa_data['county_name']!='Los Angeles')]

In [4]:
significance_level = 0.05
significance_level

0.05

In [6]:
stats.ttest_ind(a=ca_la['aqi'], b=ca_other['aqi'], equal_var=False)

TtestResult(statistic=np.float64(2.1107010796372014), pvalue=np.float64(0.049839056842410995), df=np.float64(17.08246830361151))

In [9]:
# Create dataframes for each sample being compared in your test

### YOUR CODE HERE ###

ny = epa_data[epa_data['state_name']=='New York']
ohio = epa_data[epa_data['state_name']=='Ohio']

In [10]:
# Compute your p-value here

### YOUR CODE HERE ###

tstat, pvalue = stats.ttest_ind(a=ny['aqi'], b=ohio['aqi'], alternative='less', equal_var=False)
print(tstat)
print(pvalue)

-2.025951038880333
0.030446502691934683